@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    margin:0;
    padding:0;
    background-color:#6242e2; 
    box-sizing: border-box;
}

#nav_bar{
    margin: 0 auto;
    width: 80%;
    height:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #afeed5
}

#logo_container{
    display:flex;
}

#logo_container img{
    width: 99px;
}

#characters li{
    width:70px;
    cursor: pointer
}

#characters{
    display:flex;
    list-style:none;
    justify-content:space-evenly;
    font-weight: 600;
}

#main_header{
    display:flex;
    justify-content: flex-end;
    color: #afeed5;
    position: relative;
}

#main_header .left{
    width: 60%;
    height: 60%;
    z-index: -10;
    mix-blend-mode:normal;
    margin-top: 100px; /* Adjust margin-top as needed */
    margin-left: 10%; /* Adjust margin-left as needed */
}

#main_header .left .bigtext{
    font-size: 70px;
    font-family: "Roboto Condensed", sans-serif;
}

#main_header .left #data{
    /* width: 200px; */
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

#main_header .left #data .data_items{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

h2{
    font-family: "Roboto Condensed", sans-serif;
}

.gradient_text{
    color: #ff00f2
}

#main_header .left #data .data_items h4{
    margin:0;
    padding:0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px; 
    font-family: "Roboto Condensed", sans-serif;
}

.buttons{
    margin-top:5px;
    display: flex;
    font-family:"Roboto Condensed", sans-serif;
}

.btn{
    padding: 10px 10px;
    margin: 0 10px;
    border: 1px solid #7d63f1;
    color:#afeed5;
    transform: skewX(-10deg);
    cursor: pointer;
    background-color:transparent;
}

.btn1{
    background: linear-gradient(45deg, #7d63f1, #2c2c94 28%, #f805d0 97%)
}

p{
    margin:0;
    padding:0;
    font-weight:300;
    font-family: "Mulish", sans-serif;
}

#characters{
    font-family: "Roboto Condensed", sans-serif;
}

#main_header .right{
    width: 60%;
    height: 60%;
    z-index: -10;
    mix-blend-mode:normal ;
}

#main_header .right img{
    width: 107%;
    height: 107%;
    /* margin-top: 3vh; */
    margin-left: 5vh;
}

.band{
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    transform: rotate(-3deg);
    background:#ffffff40;
    color:#afeed5;
    font-family:"Roboto Condensed", sans-serif;
    font-weight: 900;
    font-size:25px;
    box-shadow: 0 80px 32px 0 rgba(12, 13, 32, 0.37);
    backdrop-filter: blur(40px);
}

.choose_section{
    display: flex;
    flex-direction:column;
    align-items: center;
    color:#afeed5;
}

.choose_section_title{
    font-size:40px;
    font-family:"Roboto Condensed", sans-serif;
    font-weight:500;
}

.choose_section_desc{
    font-family:"Mulish", sans-serif;
    margin-bottom: 20px;
}

.image_selector{
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 50px;
}

.discover_arcs{
    width: 80%;
    margin:100px auto;
    font-family:"Roboto Condensed", sans-serif;
}

.discover_arc_card{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:#afeed5;
    border-radius:7px;
    background:#523e8f;
}

.big_text{
    font-size:50px;
    font-weight:500;
    margin:0;
}

.discover_arcs_buttons{
    width: fit-content;
    margin-top:10px;
    border: 1px solid #7d63f1;
    padding: 10px 20px;
    transform: skewX(-10deg)
}



